@use '../../../styles/index.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  height: auto;

  @include respond-to('small') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    height: 70px;
    padding: 0 30px;
  }

  width: 100%;
  background: var(--packContains-Bg);
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.info-block {
  display: flex;
  align-items: center;
  & > div,
  & > svg {
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
  }
}

.button-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > button {
    margin-top: 0;
  }
}

.image {
  width: 20px;
  height: 20px;
  img {
    width: 20px;
    height: 20px;
  }
}
