@use '../../../styles/index.scss' as *;

.general {
  padding: 0 0 40px 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  @include respond-to('medium') {
    padding: var(--packDetail-Padding);
  }

  & > div:last-child {
    margin: auto;
    max-width: 450px;

    @include respond-to('medium') {
      max-width: 100%;
    }
  }
}

.closeModal {
  position: absolute;
  top: -20px;
  right: 20px;

  :hover {
    cursor: pointer;
  }
}

.main {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;

  @include respond-to('medium') {
    flex-direction: row;
    align-items: flex-start;
  }

  .media {
    width: 295px;
    height: 295px;
    background-color: var(--card-media-Bg);
    border-radius: 8px;
    overflow: hidden;
    img {
      border-radius: inherit;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      // object-position: top center;
    }
  }

  .info-block {
    margin: 30px auto 0;
    width: 100%;
    flex: 1;
    max-width: 450px;

    @include respond-to('medium') {
      max-width: 100%;
      margin: 0 0 0 35px;
    }
  }
}

.back-button-text {
  :first-child {
    margin-right: 10px;
  }
}

.description-block {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: var(--packContains-description-Border);
  background: var(--packContains-description-Bg);
  &-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding: 20px 30px 10px 30px;
  }
  &-body {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    padding: 10px 30px 20px 30px;
  }
}
