@use '../../../styles/index.scss' as *;

.settingsRow {
  @include respond-to('large') {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}
.settingsColumn {
  display: flex;
  flex-direction: column;

  & + & {
    margin: var(--input-wrapper-Margin);
    @include respond-to('large') {
      margin: 0;
    }
  }

  .settings-textArea {
    height: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    textarea {
      height: 100%;
      flex: 1;
    }
  }
}
