@use '../../../styles/index.scss' as *;
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;

  > .btnWrapper {
    position: relative;
    flex: 1 1 auto;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--buttonGroup-BorderColor);
    height: 36px;

    &:not(:first-child) {
      margin-left: -1px;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.isActive {
      background: var(--buttonGroup-active-Bg);

      svg {
        fill: var(--buttonGroup-svg-active-Color);
      }
    }

    svg {
      fill: var(--buttonGroup-svg-Color);
    }
  }

  // Bring the hover, focused, and "active" buttons to the front to overlay
  // the borders properly
  > .btn-check:checked + .btn,
  > .btn-check:focus + .btn,
  > .btn:hover,
  > .btn:focus,
  > .btn:active,
  > .btn.active {
    z-index: 1;
  }
}
