.media {
  padding-top: 67px;
  padding-left: 237px;
  padding-right: 237px;
  text-align: center;
}

.title {
  padding-top: 29px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.successText {
  text-align: center;
  padding-top: 10px;
}

.action {
  padding-top: 20px;
  padding-bottom: 80px;
  a {
    width: 190px;
    display: block;
    margin: 0 auto;
  }
}
