@use '@styles/index.scss' as *;
.list {
  flex: 1;
  --grid-layout-gap: 30px;
  --grid-column-count: 4;
  --grid-item--min-width: 230px;
  @include respond-to('large') {
    --grid-item--min-width: 277px;
  }
  @include respond-to('medium') {
    &.isLarge {
      --grid-column-count: 3;
      --grid-item--min-width: 380px;
    }
  }
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
