.poweredBy {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--font-family-SansSerif);
}
.poweredBy-logo {
  font-weight: var(--poweredBy-logo-FontWeight);
  color: var(--poweredBy-logo-ColorText);
}
