@use '../../../styles/index.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;

  & > div:last-child {
    width: 100%;
    display: flex;
  }
}

.nft-wrapper {
  width: 100%;
  padding: 0 0 30px 0;
  margin: 0 0 40px 0;
}

.paginationBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--pagination-MarginBottom);
  margin-top: var(--pagination-MarginTop);
}

.wrapper {
  display: grid;
  @include respond-to('medium') {
    grid-template-columns: auto 1fr;
    @include animate(width grid-template-columns);
  }

  &.isOpenMenu {
    grid-template-columns: auto 1fr;
  }
}

.listWrapper {
  grid-row: 3/4;

  @include animate(width);
  @include respond-to('medium') {
    margin: var(--listWrapper-Margin);
    grid-row: auto;
    grid-column: 2/4;
  }
}
