@use '@styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
}

.content {
  flex: 1;
  padding: var(--forgot-password-Padding);
  justify-content: start;
}

.success-password {
  & .content {
    flex: 1;
    padding: var(--forgot-password-Padding);
  }
  .button {
    max-width: var(--button-width-secondary);
    width: 100%;
  }
}

.forgot-password {
  .button {
    margin: var(--button-forgot-password-Margin);
    max-width: var(--button-forgot-password-Width);
    width: 100%;
  }

  .tipsText {
    margin: 20px 0 0;

    a {
      color: var(--tipsText-signUp-ColorText);
    }
  }

  .icon-placeholder {
    margin-bottom: 19px;
  }

  .subHeading {
    max-width: 419px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.heading {
  margin: var(--heading-forgot-password-Margin);
}

.heading-checkEmail {
  margin: var(--heading-checkEmail-Margin);
}

.heading-success {
  margin: var(--heading-success-Margin);
}

.subTitle-checkEmail {
  font-size: var(--modal-subTitle-FontSize);
  line-height: var(--modal-subTitle-LineHeight);
  font-weight: var(--modal-subTitle-FontWeight);

  @include respond-to('medium') {
    font-weight: var(--subTitle-checkEmail-FontWeight);
    font-size: var(--subTitle-checkEmail-FontSize);
    line-height: var(--subTitle-checkEmail-LineHeight);
  }
}

.signin-bottom {
  margin-top: 64px;
  margin-bottom: 50px;

  display: var(--poweredBy-display);
}

.poweredBy {
  span {
    color: var(--poweredBy-logo-signIn-ColorText);
  }
}

.new-password {
  .button {
    margin-top: 42px;
    max-width: var(--button-width-secondary);
    width: 100%;
  }
}
.icon-placeholder {
  margin: 0 0 19px;
}
.heading-expired {
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  text-align: center;
  color: var(--modal-text-ColorText);
  margin-top: 20px;
  margin-bottom: 0;
}
