@use '../../../styles/index.scss' as *;

.changePassword {
  background: var(--changePassword-Bg);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  padding: 48px 20px 48px;
}
.settingsRow {
  display: grid;

  gap: 30px;
  & + & {
    margin-top: 20.5px;
  }
  @include respond-to('large') {
    grid-template-columns: 1fr 1fr;
  }
}

.cardHeader {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  @include respond-to('medium') {
    grid-template-columns: minmax(190px, 260px) auto;
    justify-content: space-between;
  }
}
.cardBody {
  margin-top: 30px;
}
.cardTitle {
  font-weight: var(--settings-card-title-FontWeight);
  font-size: var(--settings-card-title-FontSize);
  line-height: var(--settings-card-title-LineHeight);
  color: var(--cardSettings-title-ColorText);

  @include respond-to('medium') {
    margin: 8px 0;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;

  button {
    min-width: unset;
    padding: 8px 20px;
  }
}
